.App{
  display: flex;
  justify-content: space-evenly;
  margin-top: 23vh;
}
.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
.drum-pad{
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
#display{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  animation: fadeOut 3s;
}
@keyframes fadeOut {
  0%{opacity: 1;}
  50%{opacity: 0.5;}
  100%{opacity: 0;}
}
#heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}